.button-white{
    outline: none;
    border: none;
    padding:1rem 2rem;
    font-size: 1.4rem;
    color: var(--color-primary);
font-weight: bold;
transition: all .3s;
&:hover{
    background-color: var(--color-primary);
    color: white;
}
}