.p-sl{
    padding: 6rem 0;
}

.m-s{
    margin: 2rem 0;
}
.m-sl{
    margin: 5rem 0;
}
.mt-sl{
    margin-top: 6rem;
}
 .pb-sl{
     padding:3rem 0 8rem 0 ;
 }
 .p-img{
     padding: 3rem 0 4rem 0;
 }